body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('./images/calm asf.jpg') center/cover no-repeat;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: tommy;
  src: url(./MADE\ TOMMY\ Regular_PERSONAL\ USE.otf)
}

* {
  font-family: tommy;
}

.container {
  display: flex;
  height: 100vh;
}

#apps-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#apps-container h1{
  margin: 0;
  color: #fff;
}

.app-box {
  width: 11rem;
  border-radius: 0.5rem;
  height: 20rem;
  margin: 1rem 0;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-box:hover {
  background-color: #eee;
}

.searchbar-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: -5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 35rem;
  height: 2.5rem;
  border-radius: 25rem;
  border: none;
  padding-left: 1rem;
  color: black;
}
.searchbar-box h1{
  color: #fff;
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 0 0 3px white;
}
.enter-button {
  display: none;
}
#popup-container {
  display: show;
  margin-left: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 70vh;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#popup-header {
  background-color: #575757;
  color: #fff;
  padding: .5rem;
  text-align: center;
}

#popup-content {
  background-color: #373c3e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

#close-btn {
  position: absolute;
  padding: .5rem .7rem;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  background-color: #d00505;
}
.quote-container{
    margin-top: 5rem;
  width: 30rem;
  text-align: center;
  color: white;
}
.quote-container h2{
  font-size: 3rem;

}
.quote-container button{
  border-radius: 25rem;
  border: none;
  padding: .5rem;
}
#app1{
  background-image: url(./images/luh\ fortuen\ cook.PNG);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #9AAAB4;
}
.spotify-thing{
  width: 60rem;
  height: 30rem;
  border-radius: none;
}
#app2 {
  background-image: url(./images/spot\ logo.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #2b2b2b;
}
.spotify{
  background-color: #282424;
  height: 50rem;
}
.about-me {
  max-width: 800px;
  margin: 0 auto;
}

.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-photo {
  flex: 1;
  margin-right: 20px;
}

.about-me-photo img {
  max-width: 100%;
  border-radius: 8px;
  /* Optional: Add border-radius for a rounded image */
}
.photo{
  width: 100px;
  height: 100px;
}
.about-back{
  background-color: #728d8a;
  width: 60rem;
  height: 50rem;
  padding: 0 10rem 0 10rem;

}
#app3 {
  background-image: url(./images/Untitled\ design\ \(3\).png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #84c5d1;
}
#app4 {
  background-image: url(./images/kitty.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #e5e5e5;
}
.github-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: space-between;
}
.boxes{
  width: 10rem;
  height: 10rem;
  background-color: #eee;
  margin: 0 2rem 0 2rem ;
  border-radius: 50rem;
  box-shadow: 0 0 10px rgb(214, 213, 211);
}
.github-title{
  font-size: .5rem;
  margin-bottom: 1rem;
}
#aa{
  background-image: url(./images/A&A.png);
    background-position: center;
    background-size: cover;
}
#blackj{
  background-image: url(./images/black.jpg);
    background-position: center;
    background-size: cover;
}
#github-logo {
  background-image: url(./images/25231.png);
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background: url('./images/calm asf.jpg') center/cover no-repeat;
      font-family: Arial, sans-serif;
      background-size: cover;
    }
  
    @font-face {
      font-family: tommy;
      src: url(./MADE\ TOMMY\ Regular_PERSONAL\ USE.otf)
    }
  
    * {
      font-family: tommy;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      /* Adjust to column layout for smaller screens */
      align-items: center;
      /* Center content horizontally */
      height: 100vh;
    }
  
    #apps-container {
      margin-top: auto;
      /* Push apps to the bottom */
      width: 100vw;
      background-color: transparent;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      /* Adjust to row layout for smaller screens */
      justify-content: space-evenly;
      flex-wrap: wrap;
      
      /* Center apps horizontally */
      align-items: center;
      /* Center apps vertically */
    }
        .app-box {
          width: 10rem;
          border-radius: 0.5rem;
          height: 10rem;
          margin: 1rem 0;
          background-color: aliceblue;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
  
    .searchbar-box {
      top:0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    input {
      width: 35rem;
      height: 2.5rem;
      border-radius: 25rem;
      border: none;
      padding-left: 1rem;
      color: black;
    }
  
    .searchbar-box h1 {
      color: #fff;
      font-size: 5rem;
      margin-bottom: 0;
      text-shadow: 0 0 3px white;
    }
  
    .enter-button {
      display: none;
    }
  
    #popup-container {
      display: show;
      margin-left: 10rem;
      position: fixed;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      width: 40rem;
      height: 50vh;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
        .spotify {
          background-color: #282424;
          height: 30rem;
          width: 40rem;
        }

}
@media only screen and (max-width: 700px) {
  input {
      width: 20rem;
      height: 2.5rem;
      border-radius: 25rem;
      border: none;
      padding-left: 1rem;
      color: black;
    }
    .container h1{
      font-size: 2rem;
    }

}